<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Your Assignments</h2>
        </div>
    </div>
</div>

<div class="card text-center" ng-if="isInstructor == true">
    <div class="card-body">
        <h5 class="card-title">Create a new assignment</h5>
        <p class="card-text">Create a new assignment for this course</p>
        <a href="{{create}}" class="btn btn-primary">GO!</a>
</div>
</div>


<div class="row" style="padding-top: 1em;" ng-controller="CoursesController">
    <div class="col-sm-3">
        <div class="container">
            <ul class="list-group" ng-repeat="assignment in assignments">
                <li class="list-group-item">{{assignment.description}}</li>
                <li class="list-group-item"><a href = {{assignment.link}}>View Assignment</a></li>
                <li class="list-group-item"><a href = {{assignment.sublink}}>View Submissions</a></li>
            </ul>
        </div>
    </div>
</div>
