<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Your Courses</h2>
        </div>
    </div>
</div>

<div class="card text-center" ng-if="isInstructor == true">
    <div class="card-header">
    </div>
    <div class="card-body">
        <h5 class="card-title">Create a new course</h5>
        <p class="card-text">Create a new course for the current academic year</p>
        <a href="#/courses/create" class="btn btn-primary">GO!</a>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>


<div class="row" style="padding-top: 1em;" ng-controller="CoursesController">
    <div class="col-sm3">
        <div class="container">
            <ul class="list-group" ng-repeat="course in courses">
                <li class="list-group-item">{{course.name}}</li>
                <li class="list-group-item"><a href = {{course.link}}>View Course</a></li>
            </ul>
        </div>
    </div>
</div>
