<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Create An Assignment</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="createAssignmentForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputDescription" class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputDescription"
                               ng-model="newAssignment.description"
                               required placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputFilename" class="col-lg-3 control-label">Filename</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputFilename"
                               ng-model="newAssignment.filename"
                               required placeholder="Filename">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputRubric" class="col-lg-3 control-label">Rubric</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputRubric"
                               ng-model="newAssignment.rubric"
                               required placeholder="Rubric">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputMax" class="col-lg-3 control-label">Max Score</label>
                    <div class="col-lg-9">
                        <input type="number"
                               class="form-control"
                               id="inputMax"
                               ng-model="newAssignment.max_score"
                               required placeholder="100">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-primary" type="submit" ng-disabled="createAssignmentForm.$invalid" value="Create Assignment">
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="col-md-6 col-md-offset-3">
            <form className="upload-form" action="/upload/rubric" method="post" enctype="multipart/form-data" onSubmit="{(event) => { event.preventDefault(); }">
                <input id=fileRubric type="file" name="rubric" />
                <br>
                <input class="btn btn-primary" type="submit" value="Upload"/>
            </form>
        </div>
        <br>
        <div class="col-md-6 col-md-offset-3">
            <form className="upload-form" action="/upload/assignFile" method="post" enctype="multipart/form-data" onSubmit="{(event) => { event.preventDefault(); }">
                <input id="inputFile" type="file" name="assFile" />
                <br>
                <input class="btn btn-primary" type="submit" value="Upload"/>
            </form>
        </div>
    </div>
</div>

