<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Create A Submission</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="createAssignmentForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputFilename" class="col-lg-3 control-label">Filename</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputFilename"
                               ng-model="newSubmission.filename"
                               required placeholder="filename">
                    </div>
                    <div class="form-group">
                        <div class="col-lg-9 col-lg-offset-3">
                            <input class="btn btn-primary" type="submit" ng-disabled="createCourseForm.$invalid" value="Submit!">
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="col-md-6 col-md-offset-3">
            <form className="upload-form" action="/upload/submission" method="post" enctype="multipart/form-data" onSubmit="{(event) => { event.preventDefault(); }}">
                <input id=inputRubric type="file" name="rubric" />
                <br>
                <input class="btn btn-primary" type="submit" value="Upload"/>
            </form>
        </div>
    </div>
</div>