<!--create_account.html-->
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Create A Course</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form class="form-horizontal" novalidate ng-submit="submitForm()" name="createCourseForm">
            <fieldset>
                <div class="form-group">
                    <label for="inputName" class="col-lg-3 control-label">Name</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputName"
                               ng-model="newCourse.name"
                               required placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputCRN" class="col-lg-3 control-label">CRN</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputCRN"
                               ng-model="newCourse.CRN"
                               required placeholder="CRN">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputDescription" class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputDescription"
                               ng-model="newCourse.description"
                               required
                               placeholder="Description">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSyllabus" class="col-lg-3 control-label">Syllabus</label>
                    <div class="col-lg-9">
                        <input type="text"
                               class="form-control"
                               id="inputSyllabus"
                               ng-model="newCourse.syllabus"
                               required placeholder="Syllabus">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-9 col-lg-offset-3">
                        <input class="btn btn-primary" type="submit" ng-disabled="createCourseForm.$invalid" value="Create Course">
                    </div>
                </div>
            </fieldset>
        </form>

        <div class="col-md-6 col-md-offset-3">
            <form className="upload-form" action="/upload/syllabus" method="post" enctype="multipart/form-data" onSubmit="{(event) => { event.preventDefault(); }">
                <input id="inputFile" type="file" name="syllabus" />
                <br>
                <input class="btn btn-primary" type="submit" value="Upload"/>
            </form>
        </div>
    </div>
</div>

<!--/create_account.html-->