<!--home.html-->

<div class="row">
    <div class="jumbotron">
        <h1>Hello, Welcome to Submit it!</h1>
        <p>It's time to say goodbye to Sakai.</p>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
    </div>
</div>

<!--/home.html-->
