<div ng-controller="SingleAssignmentController">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h2>{{assignment.description}}</h2>
            </div>
        </div>
    </div>
    <h4>Rubric File: {{assignment.rubric}}</h4>
    <h4>Maximum Score: {{assignment.max_score}}</h4>

    <div class="row" style="padding-top: 1em">
        <div class="col-sm3">
            <div class="container">
                <div ng-if="assignment.submissions.length > 0">
                    <ul class="list-group" ng-repeat="submission in assignment.submissions">
                        <li class="list-group-item">Submission File: {{submission.filename}}</li>
                    </ul>
                </div>
                <div ng-if="assignment.submissions.length == 0">
                    <p> There are no submissions for this assignment. </p>
                    <a href={{link}} class="btn btn-primary">Make a submission</a>
                </div>
            </div>
        </div>
    </div>
</div>
