<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Single Submission</h2>
        </div>
    </div>
</div>
<h4>{{submission.earnedScore}}</h4>

<div class="row" style="padding-top: 1em;" ng-controller="SingleSubmissionsController">
    <div class="col-sm3">
        <div class="container">
            <ul class="list-group" ng-repeat="comment in submission.comments">
                <li class="list-group-item">{{comment.body}}</li>
                <li class="list-group-item">Posted at: {{comment.date}}</li>
            </ul>
        </div>
    </div>
</div>

<div class="form-group">
    <div class = "row">
        <button class="btn btn-danger" type="button" ng-click="deleteSubmission()">Delete Submission</button>
        <button class="btn btn-danger" type="button" ng-click="newComment()">Comment on Submission</button>
    </div>
</div>
