<div ng-controller="SingleCourseController">
  
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h2>{{course.name}}</h2>
      </div>
    </div>
  </div>

<div class="card text-center">
  <div class="card-body">
    <p class="card-text">See the assignment list for this course: </p>
    <a href={{assignments_url}} class="btn btn-primary">GO!</a>
  </div>
</div>


</div>
