<div ng-controller="SubmissionsController">

  <div class="row">
    <div class="col-md-12">
      <div class="page-header" ng-if="isInstructor == true">
        <h2>Student Submissions</h2>
      </div>
      <div class="page-header" ng-if="isInstructor == false">
        <h2>Your Submissions</h2>
      </div>
    </div>
  </div>

  <div class="row" style="padding-top: 1em">
    <div class="col-sm3">
      <div class="container" ng-if="submissions">
        <ul class="list-group" ng-repeat="sub in submissions">
          <div class="row">

            <li class="list-group-item">{{sub.filename}}</li>
            <li class="list-group-item"><a href = {{sub.link}}>View Submission</a><button class="btn btn-danger" type="button" ng-click="deleteSub(sub._id)" onClick="window.location.reload();">Delete Submission</button></li>

          </div>

        </ul>
      </div>
      <div class="container" ng-if="submissions.length === 0">
        <h1>There are no submissions for this assignment currently</h1>
      </div>
    </div>
  </div>
</div>